.page-header{
    font-family:'Times New Roman', Times, serif ;
    color: rgb(177, 0, 0);
    font-size: 55px;
    text-align: center;
}
.navbar-default .navbar-nav > li > a {
    color: rgb(117, 1, 1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(124, 124, 124);
}

.navbar-default {
    background-color: #f3f2f2;
    border-color: rgb(177, 0, 0);
}

.row > div,.col > div, .well {
    
    border-left:3px solid rgb(177, 0, 0);
    border-bottom:3px solid rgb(177, 0, 0) ;
    border-top: 1px solid rgb(177, 0, 0);
    border-right: 1px solid rgb(177, 0, 0);
    border-radius: 3px;
    align-content: center;

}

.tituloParrafo{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(117, 1, 1);
    text-align: center;

}
.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11;
    text-align: justify;
}

div.img{
    display:table;
  }
  div.img img{
   margin:0;
   padding:0;
   border-radius: 4px;
  }
  div.img span{
    
    position: relative;
    bottom:25px;
    color:#fff;
    background-color:#000;
    padding:5px 10px;
    opacity:0.5;
    font-weight:lighter;
    font-size: 9px;
    border-radius: 4px;
  }



  




